.login-wrapper {
    background: #d3DDD8;
    height: 100%;
    padding: 5em;
    .modules {
        background: #3B4465;
        height: inherit;
        position: relative;
        .middle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .title {
                color: #FBFDFF;
                margin-bottom: 1.3em;
                display: flex;
                b {
                    flex: 1;
                    text-align: center;
                    cursor: pointer;
                }
                .active {
                    position: relative;
                    &:after {
                        content: '';
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: -6px;
                        border-width: 0 0 1px;
                        border-style: solid;
                    }
                }
            }
            .form {
                height: 25em;
                width: 25em;
                background: #FBFDFF;
                padding: 3em;
                input {
                    width: 100%;
                    height: 3em;
                    padding: 0.8em;
                    outline: none;
                    border: 1px ridge #99ccff;
                    border-radius: 0.4em;
                    margin-bottom: 3em;
                    background: #e6eeff;
                    &:hover, &:focus {
                        border: 2px ridge #66b3ff;
                    }                    
                }
                button {
                    background: #3B4465;
                    color: #FBFDFF;
                    border: none;
                    border-radius: 0.3em;
                    padding: 1em 2em;
                    float: right;
                    cursor: pointer;
                }
            }
        }
    }
}